<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/sheet.css">
    <script type="text/javascript" src="../JavaScript/Validation.js"></script>
    <title>Addition</title>
</head>
<body>
    <div>
        <form>
            <table>
                <tr>
                    <td>Enter A</td>
                    <td><input type="text" id="valueA" name="valueA" ></td>            
                </tr>
                <tr>
                    <td>Enter B</td>
                    <td><input type="text" id="valueB" name="valueB" ></td>            
                </tr>
            </table>
        </br>
        <input type="submit" value="Add" onclick="Addition()" />
        <input type="reset" value="Reset" />
      
     </form>
    </div>
</body>
</html>