<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../css/sheet.css" >
    <script type="text/javascript" src="../JavaScript/var.js" ></script>
    <style>
        .textColor{
            color: red;
        }
     </style>
    <script>
       $(function(){
            $(".para1").addClass("textColor");
        });
    </script>
    <title>JavaScript Varibles</title>
</head>
<body>    
    <script>Var()</script>
    <script>Arr()</script>
    <script>Whlo()</script>
    <script>Whlo()</script>
    <script>forloo()</script>
    <div>
        <p class="para1">Hello </p>
        <p class="para2">welcome</p>
        <p class="para1">India</p>
    </div>
    
   
</body>
</html>
